{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <h3 class="text-center my-2">En savoir plus sur moi</h3>
  <div class="clearfix mb-3">
    <img class="float-left mr-3" id="bio-image" src="{{asset("img/thomas_apropos.jpg")}}" alt="photo de Thomas Gossart">
    <h4>Mon profil</h4>
    <p>Peut-être parce que j'ai débuté la programmation en autodidacte, j'aime transmettre mes connaissances
      et je prends beaucoup de plaisir à former au développement quand j'en ai l'occasion. Dernièrement, j'ai
      occupé pendant 3 ans un poste de formateur pendant lequel j'ai pu animer et concevoir des formations développeur
      web sur PHP, mon langage de prédilection mais aussi Python et la data-analyse qui sont deux domaines auxquels je m'intéresse
      beaucoup. Dans ce cadre j'intervenais sur la production de supports pédagogiques, d'exercices, l'animation d'ateliers de programmation
      et le suivi des étudiants mais aussi sur le développement d'applications pédagogiques.

      <br><br>J'ai par exemple développé un outil d'évaluation du niveau d'anglais des apprenants sous Django, ou encore
      une plateforme de e-learning sous Symfony. Ce dernier projet, toujours en développement, me tient à coeur car
      j'ai moi même bénéficié de beaucoup de ressources libres sur internet, il est normal que j'apporte aujourd'hui ma contribution.

      <br><br>Si jamais vous voulez en savoir plus sur mon parcours et mes expériences, n'hésitez pas à visiter mon profil
      <a href="https://www.linkedin.com/in/thomas-gossart-44513b72?trk=nav_responsive_tab_profile" target="_blank">Linkedin</a>.
      Si c'est le code et les projets qui vous intéressent, alors vous en saurez plus dans la section <a href="{{asset("/")}}">Portfolio</a>
      et sur mon profil <a href="https://github.com/thomgo" target="_blank">GitHub</a>. Aujourd'hui, je suis à la recherche de ma prochaine mission
      alors si mon profil vous intéresse, que ce soit pour du développement ou de la formation, n'hésitez pas à me <a href="{{asset("/contact")}}">contacter</a>.

      <br><br>Issu à l'origine d'une formation en langues étrangères et management de projets internationaux,
      j'ai commencé à m'intéresser à la programmation en autodidacte pendant mes études, principalement HTML/CSS et PHP.
      Coder et créer des sites web m'a très vite passionné car j'y retrouvais un mélange de logique et de créativité.
      Après avoir réalisé quelques sites bénévolement, j'ai décidé d'en faire mon métier et j'ai suivi une formation
      intensive à <a href="https://simplon.co/" target="_blank">Simplon Roubaix</a>. Cela m'a permis d'approfondir
      ma connaissance de la programmation et de découvrir des outils formidables comme Symfony qui ne m'ont plus quitté :-)</p>
  </div>

  <h4>Langages</h4>

  <ul class="skills-list row">
    <li class="col-sm-2">
      <a href="https://developer.mozilla.org/en/docs/Web/HTML" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/html.png")}}" alt="icone html">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://developer.mozilla.org/en/docs/Web/CSS" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/css.png")}}" alt="icone css">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://developer.mozilla.org/en/docs/Web/JavaScript" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/js.png")}}" alt="icone js">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.php.net/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/php.png")}}" alt="icone php">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://fr.wikipedia.org/wiki/Structured_Query_Language" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/sql.png")}}" alt="icone sql">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.python.org/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/python.png")}}" alt="icone python">
      </a>
    </li>
  </ul>

  <h4>Technologies</h4>

  <ul class="skills-list row">
    <li class="col-sm-2">
      <a href="https://git-scm.com/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/git.png")}}" alt="icone git">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://getbootstrap.com/" target="_blank">
        <img class="img-fluid svg" src="{{asset("/img/icones/bootstrap.png")}}" alt="icone bootstrap">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://jquery.com/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/jquery.png")}}" alt="icone jquery">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://angular.io/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/angular.png")}}" alt="icone angular">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://symfony.com/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/symfony.png")}}" alt="icone symfony">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.djangoproject.com/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/django.png")}}" alt="icone django">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.mysql.com/fr/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/mysql.png")}}" alt="icone mysql">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.postgresql.org/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/postgresql.png")}}" alt="icone postgresql">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://wordpress.com/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/wordpress.png")}}" alt="icone wordpress">
      </a>
    </li>
    <li class="col-sm-2">
      <a href="https://www.linux.org/" target="_blank">
        <img class="img-fluid" src="{{asset("/img/icones/linux.png")}}" alt="icone linux">
      </a>
    </li>
  </ul>

{% endblock %}
