{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <h3 class="text-center mt-2">En savoir plus sur moi</h3>
  <div class="clearfix mb-3">
    <img class="float-left mr-3" src="{{asset("img/thomas_apropos.jpg")}}" alt="photo de Thomas Gossart">
    <h4>Mon profil</h4>
    <p>Issu à l'origine d'une formation en langues étrangères et management de projets internationaux,
      j'ai commencé à m'intéresser à la programmation en autodidacte pendant mes études, principalement HTML/CSS et PHP.
      Coder et créer des sites web m'a très vite passionné car j'y retrouvais un mélange de logique et de créativité.
      J'ai eu l'occasion de mettre ces nouvelles compétences en pratique pendant mes stages ou en tant que bénévole
      pour des associations.

      <br><br>J'ai décidé par la suite d'en faire pleinement mon métier, c'est pourquoi j'ai suivi une formation
      intensive de spécialisation à <a href="https://simplon.co/" target="_blank">Simplon Roubaix</a>. Cela m'a
      permis d'approfondir ma connaissance du PHP, de découvrir des outils formidables comme Symfony mais aussi de
      débuter mon apprentissage du JavaScript et de professionaliser mes pratiques.

      <br><br>Peut-être parce que j'ai débuté la programmation en autodicate, j'ai un attrait particulier pour
      la formation et je prends beaucoup de plaisir à l'enseigner quand j'en ai l'occasion. Dernièrement j'ai
      occupé pendant 3 ans un poste de formateur pendant lequel j'ai pu animer et concevoir des formations développeur
      web sur PHP, mon langage de prédilection mais aussi Python et la data-analyse qui sont deux domaines qui m'intéressent
      beaucoup. Outre la production de supports, d'exercices, l'animation d'ateliers de programmation et le suivi des étudiants
      j'intervenais également sur le développement d'applications pédagogiques comme par exemple un outil d'évaluation du niveau
      d'anglais sous Django, ou encore une plateforme de elearning sous Symfony. Après tout, j'ai moi même bénéficié
      de beaucoup de ressources libres sur internet, il est normal que j'y apporte ma contribution.

    <br><br>Si jamais vous voulez en savoir plus sur mon parcours et mes expériences, n'hésitez pas à visiter mon profil
    <a href="https://www.linkedin.com/in/thomas-gossart-44513b72?trk=nav_responsive_tab_profile" target="_blank">Linkedin</a>.
    Si c'est le code et les projets qui vous intéressent, alors vous en saurez plus dans la section <a href="{{asset("/")}}">Portfolio</a>
    et sur mon profil <a href="https://github.com/thomgo" target="_blank">GitHub</a>. Si mon profil vous intéresse, n'hésitez pas
    à me <a href="{{asset("/contact")}}">contacter</a></p>
  </div>

  <h4>Langages</h4>

  <ul class="skills-list row">
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/html.png")}}" alt="icone html">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/css.png")}}" alt="icone html">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/js.png")}}" alt="icone html">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/php.png")}}" alt="icone html">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/sql.png")}}" alt="icone html">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/python.png")}}" alt="icone html">
    </li>
  </ul>

  <h4>Technologies</h4>

  <ul class="skills-list row">
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/git.png")}}" alt="icone git">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid svg" src="{{asset("/img/icones/bootstrap.png")}}" alt="icone bootstrap">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/jquery.png")}}" alt="icone jquery">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/angular.png")}}" alt="icone angular">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/symfony.png")}}" alt="icone symfony">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/django.png")}}" alt="icone django">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/mysql.png")}}" alt="icone mysql">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/postgresql.png")}}" alt="icone postgresql">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/wordpress.png")}}" alt="icone wordpress">
    </li>
    <li class="col-sm-2">
      <img class="img-fluid" src="{{asset("/img/icones/linux.png")}}" alt="icone linux">
    </li>
  </ul>

{% endblock %}
